<h1><%= @post.title %></h1>
<div class="row">
	<div class="span8">
		<small>
      <%= image_tag(@post.user.avatar.tiny.url) if @post.user.avatar? %>
      submitted <%= time_ago_in_words(@post.created_at) %> ago by 
      <%= @post.user.name %>
    </small>    
		<p><%= @post.body %></p>
	</div>
</div>
	<div class="row">
		<div class="span4">
		<p><%= @post.category %></p>
	</div>
</div>
<p><%= @post.word_count %></p>
<p><%= @post.language %></p>
<p><%= @post.rating %></p>
<p><%= @post.key_words %></p>
<p><%= @post.cost %></p>
<p><%= @post.style %></p>
<p><%= @post.instructions %></p>
<div class="span4">
	<% if can? :edit, @post %>
	<%= link_to "Edit", edit_post_path(@post), class: 'btn btn-mini' %>
<% end %>
</div>
</div>

